@charset "utf-8";

*{margin: 0; padding: 0;}
li{list-style: none;}
a{ display: block; text-decoration: none; color: inherit;}
img{ display: block; border: 0;}
.cf::after{ content: ""; display: block; clear: both;}


header{
    width: 500px;
    height: 500px;
    background:url(https://windowsforum.kr/files/attach/images/12246/791/703/011/92534fc780b0c2203874e7d722ef8c26.jpg) no-repeat;
    background-position: center center;
}